main{
    background: #000;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.nav{
    background: goldenrod !important;
    color: #000 !important;
    display: flex !important;
    align-items: center;
    height: 10vh;
}

.loader{
    color: goldenrod !important;
}
.search-form{
    width: 100%;
}
.search-form input{
    border: 1px solid goldenrod;
    color: goldenrod;
    border-radius: 5px;
    outline: none;
    display: inline-block;
    height: 100% !important;
    padding: 10px 20px;
    background: #000;
    min-width: 50%;
}